.news-title {
    border-bottom: 1px solid rgb(230,230,230);
    h1 {
        padding-top: 12px;
        padding-bottom: 25px;
        color: rgb(41,47,51);
        font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
        font-size: 27px;
    }
}
